@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Styling the main container (my-masonry-grid) */
.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* Counteracts the column padding/margin */
  width: auto;
}

/* Styling the columns (my-masonry-grid_column) */
.my-masonry-grid_column {
  padding-left: 30px; /* Space between columns */
  background-clip: padding-box;
}

/* Styling the individual items (grid-item) */
.my-masonry-grid_column > div {
  margin-bottom: 30px; /* Space between items in the same column */
}
@keyframes fade-in {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.anim-in-view {
  animation: fade-in 0.7s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
